.modal {
  position: fixed;
  /* width: 358px;
  height: 260px; */
  /* border: 1px #000; */
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #000;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  /* padding: 34px 36px 36px 36px; */
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  /* visibility: hidden; */
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  visibility: none;
  pointer-events: none;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
  pointer-events: all;
}

.modal__content {
  background: #ffffff;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  position: relative;
}

.modal__edit {
  /* position: absolute; */
  /* display: flex; */
  /* flex-direction: column; */
  /* width: 330px; */
  height: 23px;
  /* font-weight: 900; */
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 29px;
  margin: 34px 0 54px 36px;
  font-weight: 900;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  outline: none;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
  /* transform: rotate(45deg); */
}

.modal__image {
  /* position: fixed; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  max-width: 75vw;
  max-height: 75vh;
}

.modal__text {
  color: #ffffff;
  /* position: absolute; */
  width: 291px;
  height: 12px;
  top: 640px;
  left: 232px;
  font-size: 12px;
}

.modal__content_card {
  width: auto;
  height: auto;
  border-radius: 0;
  background: transparent;
  max-width: 75vw;
  max-height: 75vh;
}

/* .form__label {
  display: flex;
  flex-direction: column;
  border: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
} */

/* .form__fieldset {
  font-family: "inter", Arial, Helvetica, sans-serif;
  padding: 0;
  border: none;
  margin: 0;
  margin-left: 36px;
} */

/* .form__button {
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.5;
} */

@media screen and (min-width: 320px) and (max-width: 544px) {
  /* .modal__name__item {
    width: 238px;
    height: 27px;
    font-size: 14px;
  } */

  .modal__content {
    width: 282px;
    height: 322px;
  }

  /* .form__fieldset {
    margin: 0;
  } */

  /* .modal__save {
    width: 238px;
    height: 46px;
    margin-left: 22px;
  }

  .modal__save:hover {
    opacity: 0.8;
    border-radius: 2px;
  } */

  .modal__edit {
    width: 238px;
    height: 22px;
    font-size: 18px;
    line-height: 21.78px;
    margin-top: 25px;
    margin-left: 22px;
    margin-bottom: 75px;
  }

  .modal__name-item {
    width: 238px;
    height: 14px;
    margin-left: 22px;
    /* margin-bottom: 30pxpx; */
    padding-top: 0;
    font-size: 14px;
  }

  /* .modal__save {
    font-size: 14px;
    line-height: 16.94px;
    margin-top: 10px;
  } */

  /* .modal__save[type="submit"] {
    width: 38px;
    height: 18px;
    margin-top: 45px;
  } */

  /* .form__button {
    padding: 0;
    width: 38px;
    height: 18px;
  } */

  .modal__close {
    width: 26px;
    /* height: 26; */
    right: 7px;
    top: -42px;
  }
}
