.page{
    background-color: black;
    min-width: 1280px;
    min-height: 1217px;
    color: #ffffff;
    padding-left: 200px;
    padding-right: 200px;
}

.page__section{
    width: 100%;
    max-width: 882px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}

@media screen and (max-width: 1100px) {
    width: 100%;
    max-width: 882px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}