.profile {
  display: flex;
  align-items: center;
  /* border-top: 1px solid #545454; */
  margin-top: 15px;
  padding-top: 16px;
  padding-bottom: 51px;
}

.profile__section {
  display: flex;
  align-items: center;
  /* border-top: 1px solid #545454; */
  margin-top: 15px;
  padding-top: 16px;

  padding-bottom: 51px;
}

.profile__section-info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 400px) auto;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  grid-area: title;
  /* padding-left: 20px; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
  min-width: 39px;
  margin-left: 20px;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  grid-area: button;
  align-self: center;
  cursor: pointer;
  transition: 0.5s;
  padding: 0;
  margin: 0;
  /* border-radius: 2px; */
  border: 1px solid #ffffff;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__description {
  margin: 0;
  font-family: "inter", Arial, sans-serif;
  padding-left: 20px;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  background: transparent url(../images/plus.svg) center no-repeat;
  background-size: 22px 22px;
  border: 2px solid #ffffff;
  align-self: center;
  cursor: pointer;
  transition: 0.5s;
  padding: 0;
  margin: 0;
  margin-left: auto;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .profile__section-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 280px;
  }

  .profile {
    /* grid-template-columns: none; */
    /* display: flex; */
    flex-direction: column;
    width: calc(100% - 40px);
    padding-bottom: 36px;
    padding-top: 38px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 26.63px;
    justify-content: center;
    padding-right: 10px;
    padding-top: 26.25px;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
    max-width: 196px;
    min-width: 22px;
  }

  .profile__add-button {
    display: flex;
    align-content: center;
    width: 282px;
    /* height: 50px; */
    margin-top: 36px;
    margin-right: auto;
  }

  .profile__description {
    /* display: flex; */
    /* justify-content: center; */
    font-size: 14px;
    line-height: 16.94px;
    padding-top: 14px;
    padding-left: 0;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
    max-width: 282px;
  }

  .profile__edit-button {
    display: flex;
    height: 18px;
    width: 18px;
    margin-top: 26.25px;
  }
}
