.card {
  display: flex;
  width: 282px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  position: relative;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 25px 0 25px 20px;
  max-width: 219px;
}

.card__discription {
  background-color: #ffffff;
  color: black;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card__image {
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  width: 282px;
  height: 282px;
  /* left: 798px; */
  /* top: 330px; */
  overflow: hidden;
  cursor: pointer;
}

.card__like-button {
  width: 21px;
  height: 18px;
  /* left: 1039px; */
  /* right: 17.19%; */
  /* top: 643px; */
  flex-direction: row-reverse;
  background-image: url(../images/heart.svg);
  border: none;
  display: flex;
  /* background-color: #ffffff; */
  background-color: transparent;
  cursor: pointer;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button-active {
  background-image: url(../images/Union.svg);
}

/* .card__delete {
  width: 18px;
  height: 19px;
  display: flex;
  flex-direction: column-reverse;
  background-image: url(../images/Trash.svg);
  background: #ffffff;
  cursor: pointer;
  margin: 23px 16px 244px 250px;
  position: absolute;
} */

.card__delete {
  background: transparent url(../images/Trash.svg) center no-repeat;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 23px;
  right: 16px;
  background-size: 18px 19px;
  border: none;
  cursor: pointer;
}

.card__delete:hover {
  opacity: 0.5;
}
